# Ignore environment variables file
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# Project specific
Results/

run-app
logs